{% extends 'base.html.twig' %}

{% block title %}Микрозаймы{% endblock %}

{% block body %}
    <main>
        <section class="">
            <div class="container">
                <h2 class="header--h2 wow slideInLeft">Про <span>нас</span></h2>
            </div>
        </section>
    </main>
{% endblock %}
