{% extends 'base.html.twig' %}


{% block title %}{{ 'document--title'|trans }}{% endblock %}
{% block description %}{{ 'document--description'|trans }}{% endblock %}

{% block body %}
    <main>
        <section class="">
            <div class="container">
                <div class="header--block">

                    <h2 class="header--h2 wow slideInLeft">Документы  <span>компании</span></h2>
                </div>

                <div class="row row--space-between">
                    <div class="home--about-col wow slideInLeft">
                        <h3>ПРАВИЛА ОБРАБОТКИ ДАННЫХ</h3>
                        <p>Соглашение о предоставлении услуг с применением Сервиса</p>
                        <p>1. Общие положения.</p>
                        <p>                Настоящая публичная оферта (в дальнейшем просто Оферта) о предоставлении информационных услуг с применением Сервиса является официальным предложением Zaymu-24.ru, (в дальнейшем Оператор) и определяет условия применения настоящего сайта и предоставления пользователю Услуг Оператора (в дальнейшем просто Соглашение). Оферта адресована физ. лицам, которые представляют собой пользователей данного сайта, и является официальным публичным предложением Zaymu-24.ru, о заключении Соглашения. Пользователь должен ознакомиться с ней в обязательном порядке до того, как наступит момент совершения акцепта, установленного соглашением с Офертой. Соглашение считается заключенным с того момента, как пользователем были совершены действия, установленные пунктом 3.2. Соглашения, то есть в момент Акцепта, принятия пользователем всех условий настоящей оферты. Акцепт Оферты с оговорками не допускается. В дальнейшем оператор и пользователь именуются как стороны, название каждого из них по отдельности – сторона. Каждая Сторона гарантирует другой Стороне, что обладает необходимой право- и дееспособностью, а равно всеми правами и полномочиями, необходимыми и достаточными для заключения и исполнения Соглашения в соответствии с его условиями.
                        </p>
                        <p> 2. Используемые термины и определения</p>
                        <p>Согласно установленным целям Соглашения рассматриваемая терминология применяется в следующем значении:</p>
                        <p>                Аутентификация – удостоверение прав и полномочий пользователя в процессе выполнения операций с применением рассматриваемого Сервиса или об получении сведений об операциях с применением Сервиса, в порядке, который был предусмотрен рассматриваемым Соглашением. Для осуществления аутентификации пользователя с используемым сервисом производится специальными программными средствами Оператора. Данная операция выполняется на основании вводимой пользователем авторизационной информации;
                        </p>
                        <p>                Авторизованные данные – это сведения, которые позволяют выполнить аутентификацию Пользователя. Если не оговорено особо, то по умолчанию – эти сведения включают в себя логин и пароль Пользователя. Другие виды авторизационных данных могут быть использованы в тех случаях, которые рассматриваются в установленном соглашении;
                        </p>
                        <p>                Заявка – это специальный электронный документ, который был сформирован Пользователем посредством предоставления сведений с применением Сервиса.
                        </p>
                        <p>                Информация – сведения, которые предоставляются пользователем и применяемые оператором для того, чтобы произвести формирование отсчёта. Сюда можно отнести сведения: о параметрах займа, сведения о пользователе, которые включают его персональные данные. А также требования к информации, которые содержаться в рассматриваемой заявке, указаны в Приложении номер № 1 к настоящей Оферте.
                        </p>
                        <p>                Кредитор – так называется юридическое лицо, выполняющее микрофинансовую деятельность на территории Российской Федерации. Сведения о нём находятся в государственном реестре микрофинансовых организаций, которые занимаются предоставлением займа заёмщику на условиях, установленных договором займа.
                        </p>
                        <p>                Личный кабинет – учётная запись Пользователя, формируемая оператором для того, чтобы в дальнейшем заниматься оказанием услуг. Оператор – fin2me.ru, предоставляет пользователям Услуги, а также выполняет другие действия, которые напрямую связаны с применением данного Сервиса;
                        </p>
                        <p>                Пользователь – это физ. лицо, производящее доступ к Сайту, прошедшее регистрацию и получившее индивидуальные Авторизационные данные. Для каждого пользователя должен быть свой личный кабинет;
                        </p>
                        <p>                Сайт Оператора – информационный ресурс размещённый в сети Интернет. Использование данного ресурса позволяет пользователю к Сервису оператора для выполнения операций, связанных с формированием заявки;
                        </p>
                        <p>                Сервис – информационно-технологическая система, которая размещена на Сайте Оператора. Данная система позволяет производить формирование и передачу Заявки Пользователя на рассмотрение её Кредитором. При одобрении Заявки Пользователь получает заём.
                        </p>
                        <p>                Служба поддержки – это подразделение оператора, которое предоставляет Пользователю (по его обращению) информацию об услугах, которые есть на сервисе;
                        </p>
                        <p>Акцепт - согласие пользователя;</p>
                        <p>Оператор - Услуги оказываются  ИП Фисунова Альона Игоревна, Код ЕГРЮЛ 299480218  , являющийся поставщиком услуг;</p>
                        <p>                Пользователь – физическое лицо, заключившее соглашение с Оператором о предоставлении услуг с применением сервиса;
                        </p>
                        <p>                Тарифы – виды и размеры вознаграждения Оператора за предоставление им Услуг Пользователю;
                        </p>
                        <p>                Услуга представляет собой действия Оператора, которые включают сбор и обработку информации в составе Заявки. Данные действия направлены на предоставление Пользователю информационных материалов по предложениям Кредиторов. Услуга должна полностью удовлетворять заявленным требованиям, сформированным Пользователем с применением Сервиса.
                        </p>
                        <p>3. Соглашение</p>
                        <p>                3.1 Данным Соглашением определяются условия, а также порядок оказания Оператором Услуг Пользователю с применением Сервиса Оператора.
                        </p>
                        <p>                3.2 Принятием условий данного Соглашения является проставление отметки о том, что Пользователь согласен с условиями рассматриваемого Соглашения в регистрационном поле, в момент, когда была выполнена регистрация пользователя.
                        </p>
                        <p>                3.3. Настоящее Соглашение является публичной офертой. Получая доступ к Сайту Пользователь, считается присоединившимся к настоящему Соглашению.
                        </p>
                        <p>                3.4 Оплата Услуг Оператора производится пользователем в полном соответствии с разделом 6 данного соглашения.
                        </p>
                        <p>4. Оформление услуги. Порядок и условия</p>
                        <p>4.1. Пользователь выполняет регистрацию на сайте.</p>
                        <p>                4.1.1. Для того чтобы получить доступ к Сервису Пользователь должен подтвердить выполнение условий Соглашения, которые обозначаются при регистрации пользователя на сайте.
                        </p>
                        <p>                4.1.2. Регистрация пользователя на информационном ресурсе (Сайте) производится путём заполнения соответствующей формы. Пользователь должен ввести: ФИО, дату рождения, телефонный номер, адрес электронной почты и т.д., а также пароль. То есть Пользователю необходимо создать свою учётную запись (Личный кабинет).
                        </p>
                        <p>                4.1.3. Пользователь обязуется предоставлять достоверные сведения о себе. В будущем ему необходимо поддерживать эту информацию в актуальном состоянии. Персональные данные предоставляются пользователем в полном соответствии с разделом 7 настоящего соглашения;
                        </p>
                        <p> 4.1.4. Пользователь соглашается с тем, что самостоятельно отвечает за сохранение конфиденциальности Авторизованных данных, которые связаны с его Личным кабинетом, используемый им для того, чтобы произвести доступ к Сайту. Пользователь соглашается, что несёт исключительную ответственность за те действия, которые были совершены в результате его использования личного кабинета;
                        </p>
                        <p>4.1.5. В той ситуации, когда Пользователю становится известно о любом несанкционированном применении его личных Авторизационных данных, то он обязан незамедлительно предоставить эту информацию Оператору, для этого ему следует обратиться в службу поддержки.
                        </p>
                        <p>4.1.6. Пользователь обязуется не размещать личную информацию других Пользователей без их лично выраженного согласия в любой подтверждающей форме. В случае невыполнения этого обязательства Пользователь самостоятельно несёт ответственность в полном объёме.
                        </p>
                        <p>4.1.7 Пользователь, подписавшись на сервис fin2me.ru. в рамках оказания услуги получает:</p>
                        <p>- безлимитная возможность использовать сервис</p>
                        <p>- отправка заявок 24/7</p>
                        <p>- витрина доступных вариантов займов в микрокредитных компаниях</p>
                        <p> - смс уведомления о предварительно одобренных заявках</p>
                        <p>- смс уведомления о скидках и акциях в МФО</p>
                        <p>- смс уведомления о выгодных предложениях в МФО</p>
                        <p>- единоразовая проверка кредитного рейтинга по запросу</p>
                        <p>4.2. Правила использования сервиса.</p>
                        <p>4.2.1. В целях использования услуг, которые предоставляются оператором в рамках данного Соглашения Пользователь в обязательном порядке должен пройти установленные процедуры подачи Заявки, которые указаны в Соглашении.
                        </p>
                        <p>                4.2.2. Для того чтобы оформить заявку Пользователь должен персональные сведения, в полном соответствии с требованиями, о которых говориться в приложении №1 к данному соглашению. При формировании Заявки, Пользователь, вправе учитывая собственные пожелания выбирать следующие параметры: сумма займа, срок займа, а также производить установку и изменение способа предоставления займа, в пределах, которые были установлены Оператором.
                        </p>
                        <p>                4.2.3. Заключающим этапом оформления заявки является оплата услуг Пользователем. Оплата услуг выполняется по-настоящему соглашению в размере и способом, которые установлены в разделе 6 данного Соглашения.
                        </p>
                        <p>                4.2.4. Получая заявку, Оператор выполняет следующие действия:
                        </p>
                        <p>Выполняет подтверждение получения Заявки и присваивает ей специальный номер;</p>
                        <p> Формируется и предоставляется Пользователю Отчёт. Производится его размещение в личном кабинете Пользователя;</p>
                        <p>Заявка направляется на рассмотрение кредиторам (из списка Кредиторов, размещённых на сайте).</p>
                        <p>                4.2.5. Обязательства Оператора в рамках рассматриваемого соглашения заключаются в том, что он предоставляет Услуги в сфере посреднической деятельности, связанной с анализом и подбором предложений от Кредиторов, которые удовлетворяют требованиям Пользователя. Этой сферой деятельности обязательства и ограничиваются, то есть, когда Кредитор предоставляет заем Пользователю, Оператор не представляет какую-либо сторону договора, заключённого между Пользователем и Кредитором. Соответственно это не накладывает на Оператора обязательства, связанные с регулировкой и контролем соответствия сделки установленным требованиям законодательства и иных правовых актов, её условия, а также факт и последствия заключения, исполнения и расторжения договора. В том числе это касается части возврата займа, а также рассмотрения претензий пользователя, касающиеся неисполнения или ненадлежащего выполнения Кредиторов установленных требований по такому договору.
                        </p>
                        <p>                4.2.6. Оператор не является лицом, предоставляющим гарантии касательно предоставления займов Кредиторами при осуществлении формирования Пользователем заявки. Оператор лишь подбирает максимально вероятные варианты финансирования (предложений о предоставлении займа) и направляет полученную информацию (Заявку) на рассмотрение возможным кредиторам. Решение о том предоставить или нет заем принимает непосредственно Кредитор. Никакие сведения о финансовых продуктах Кредиторов, которые были предоставлены Оператору в Отчёте Пользователю, не представляют собой оферту на предоставление каких-либо финансовых услуг.
                        </p>
                        <p>                4.2.7. Оператор занимается обслуживанием пользователя 24 часа в сутки 7 дней в неделю. Действия, совершаемые оператором, которые направлены на надлежащее исполнение рассматриваемого Соглашения, которые выполняются не в автоматическом режиме производятся Оператором в рабочие дни с понедельника по пятницу, которые являются таковыми согласно законодательству Российской Федерации.
                        </p>
                        <p>                5. Права и обязательства, которые обязаны соблюдать стороны:
                        </p>
                        <p>5.1. Права и обязательства Оператора:</p>
                        <p>                5.1.1. Оператор обязуется предоставить Пользователю доступ на Сайт 24 часа в сутки, а также к личному кабинету Пользователя вход, в который он выполняет согласно своим Авторизованным данным.
                        </p>
                        <p>                5.1.2. Оператор обладает правом выполнять проверку и предварительную модерацию той Информации, которую предоставил Пользователь.
                        </p>
                        <p>                5.1.3. В обязанности оператора входит рассмотрение всех Заявок и предоставления Отчёта по ним, но это осуществляется при условии, что каждая предоставленная Заявка оформлена Пользователем согласно установленным правилам и полностью и Пользователь осуществил знакомство с условиями настоящего Соглашения.
                        </p>
                        <p>                5.1.4. В обязанности оператора входит информирование Пользователя о произошедших изменениях или дополнениях в условиях Соглашения. Публикация новой редакции также выполняется на Сайте.
                        </p>
                        <p>                5.1.5. Оператор вправе выполнить блокировку Личного кабинета Пользователя, если Пользователем было произведено нарушение правил данного Соглашения.
                        </p>
                        <p>                5.1.6. В случае необходимости Оператор может произвести остановку работы Сайта и/или Сервиса, а также имеющихся у него аппаратно-программных средств, благодаря которым и осуществляется взаимодействие Сторон в рамках настоящего Соглашения. Данные действия могут выполняться тогда, когда были обнаружены существенные неисправности, ошибки и сбои, а также в целях выполнения профилактических задач и устранения случаев, связанных с несанкционированным доступом.
                        </p>
                        <p>                5.1.7. Оператор вправе выполнить ограничение размера суммы установленного Займа, для формирования Заявки, для определённых категорий Пользователей. Данные ограничения могут быть связаны и в том числе с тем, что Пользователь использует или не использует дополнительные услуги, предоставляемые Оператором. Все конкретные заключения, которые предусмотрены настоящим пунктом, указаны на Сайте.
                        </p>
                        <p>                5.1.8 Оператор вправе изменять правила пользования Сайтом, а также изменять содержание данного Сайта. Изменения вступают в силу с момента публикации новой редакции Соглашения на Сайте.
                        </p>
                        <p>                5.1.9. Оператор вправе собирать, анализировать, использовать, делиться (в том числе на платной основе) информацией о Пользователе, содержащейся на Сайте, включая, но не ограничиваясь, информацией о контактных и личных данных Пользователя, информацией о действиях Пользователя на Сайте и.т.д.
                        </p>
                        <p>                5.2. Права и обязанности Пользователя:
                        </p>
                        <p>                5.2.1. Пользователь обязуется соблюдать установленные правила данного Соглашения.
                        </p>
                        <p>                5.2.2. Пользователем должна предоставляться только достоверная Информация при выполнении Регистрации на Сайте и последующем применении Сервиса.
                        </p>
                        <p>                5.2.3. Пользователь обязуется не использовать для каких-либо коммерческих целей части Сервиса, кроме отдельных случаев, когда разрешение было получено Пользователем от Оператора.
                        </p>
                        <p>                5.2.4. Пользователь обязуется выполнять вход на Сайт с использованием своих Авторизационных данных и выполнять это действие одновременно только с одного устройства.
                        </p>
                        <p>                5.2.5. Пользователь должен самостоятельно выполнять ознакомление с обновлённой информацией на Сайте об изменении в Тарифах и условиях данного Соглашения.
                        </p>
                        <p>                5.2.6. Пользователь принимает обязательства, согласно которым он должен произвести оплату Услуг в соответствии с тарифами, в сроки и на условиях, которые были установлены Оператором.
                        </p>
                        <p>                5.2.7. Пользователь оставляет за собой право предъявлять Оператору претензии и осуществлять направление заявлений в порядке и случаях, которые предусмотрены настоящим Соглашением.
                        </p>
                        <p>                5.2.8. Пользователь должен предоставлять по запросу Оператора сайта дополнительную информацию, которая имеет непосредственное отношение к предоставляемым услугам данного Сервиса.
                        </p>
                        <p>                5.2.9. Пользователь должен соблюдать имущественные и неимущественные права авторов и иных правообладателей при использовании Сервиса.
                        </p>
                        <p>                5.2.10. Не предпринимать действий, которые могут рассматриваться как нарушающие нормальную работу Сервиса.
                        </p>
                        <p>                5.2.11. Не распространять с использованием Сервиса любую конфиденциальную и охраняемую законодательством Российской Федерации информацию о физических либо юридических лицах.
                        </p>
                        <p>5.2.12. Пользователь должен избегать любых действий, в результате которых может быть нарушена конфиденциальность охраняемой законодательством Российской Федерации
                        </p>
                        <p>5.2.13. Не использовать Сервис для распространения информации рекламного характера, иначе как с согласия Оператора.</p>
                        <p>5.2.14. Не использовать сервис с целью:</p>
                        <p>5.2.14. 1. загрузки контента, который является незаконным, нарушает любые права третьих лиц; пропагандирует насилие, жестокость, ненависть и (или) дискриминацию по расовому, национальному, половому, религиозному, социальному признакам; содержит недостоверные сведения и (или) оскорбления в адрес конкретных лиц, организаций, органов власти.
                        </p>
                        <p>5.2.14. 2. побуждения к совершению противоправных действий, а также содействия лицам, действия которых направлены на нарушение ограничений и запретов, действующих на территории Российской Федерации
                        </p>
                        <p>5.2.14. 3. нарушения прав несовершеннолетних лиц и (или) причинение им вреда в любой форме.</p>
                        <p>5.2.14. 4. ущемления прав меньшинств.</p>
                        <p>5.2.14. 5. представления себя за другого человека или представителя организации и (или) сообщества без достаточных на то прав.
                        </p>

                    </div>
                    <div class="home--about-col wow slideInRight">
                        <p>5.3. Пользователю запрещается:</p>
                        <p>                5.3.1. Использовать любые устройства, программы, процедуры, алгоритмы и методы, автоматические устройства или эквивалентные ручные процессы для доступа, приобретения, копирования или отслеживания содержания Сайта, данного Интернет- ресурса;
                        </p>
                        <p>5.3.2. Нарушать надлежащее функционирование Сайта;</p>
                        <p>                5.3.3. Любым способом обходить навигационную структуру Сайта для получения или попытки получения любой информации, документов или материалов любыми средствами, которые специально не представлены сервисами данного Сайта;
                        </p>
                        <p> 5.3.4. Несанкционированный доступ к функциям Сайта, любым другим системам или сетям, относящимся к данному Сайту, а также к любым услугам, предлагаемым на Сайте;
                        </p>
                        <p>5.3.5. Нарушать систему безопасности или аутентификации на Сайте или в любой сети, относящейся к Сайту.
                        </p>
                        <p>                5.3.6. Выполнять обратный поиск, отслеживать или пытаться отслеживать любую информацию о любом другом Пользователе Сайта.
                        </p>
                        <p>                5.3.7. Использовать Сайт и его Содержание в любых целях, запрещенных законодательством Российской Федерации, а также подстрекать к любой незаконной деятельности или другой деятельности, нарушающей права интернет-ресурса или других лиц.
                        </p>
                        <p>6. Стоимость за предоставление услуг и порядок расчёта</p>
                        <p>6.1. Стоимость услуг Оператора регулируется Оператором согласно Тарифам, которые опубликованы на Сайте.</p>
                        <p>6.2. Сервис является платным, стоимость услуги составляет 1215 рублей в месяц.</p>
                        <p>                6.3. Оператор вправе безакцептно списывать абонентскую плату в соответствии с п.6.2. настоящего соглашения с привязанной к сервису платежной карты. Также оператор имеет возможность частичного списания абонентской платы в рамках настоящего соглашения.
                        </p>
                        <p>                6.4. Оператор в одностороннем порядке вправе производить изменения в существующих Тарифах. В случае несогласия Пользователь имеет право в одностороннем порядке отказаться от исполнения данного Соглашения в порядке, который предусмотрен в разделе 10.3. настоящего Соглашения.
                        </p>
                        <p>                6.5. Оплата вознаграждения вноситься Пользователем, как 100% предоплата. Иной порядок оплаты возможен, если проводятся акции или существуют специальные предложения в момент подтверждения с использованием Сервиса Заявки.
                        </p>
                        <p>                6.6. Оплата услуг Оператора выполняется с применением банковских карт (Visa, MasterCard)  и не противоречащих законодательству Российской Федерации
                        </p>
                        <p>                6.7. Информационные услуги Оператором предоставляются в течение периода подписки, оплата за предоставленные услуги производится согласно Тарифам.
                        </p>
                        <p>                6.8. При оказании услуг не производится формирование и подписание соответствующего акта.  Услуги считаются оказанными в полном объёме, если в течение 1-го календарного дня Пользователь не предоставил мотивированных письменных возражений по качеству предоставленных Услуг. Оператор в течение одного календарного дня должен получить возражения на электронную почту Zaymu-24.ru. Если письменные замечания в течение установленного временного промежутка не поступили, то по умолчанию считается, что все услуги были надлежащего качества и были оказаны в полном объёме.
                        </p>
                        <p>                6.9. Решение о возврате денежных средств Пользователю принимается на основании предоставленной от Пользователя Оператору претензии.  Срок рассмотрения претензии (требования) Пользователя о возврате денежных средств на счет его Карты при успешном осуществлении оплаты Услуг Предприятия, указаных в разделе 9 настоящего соглашения.
                        </p>
                        <p>                В случае возникновения сбоя в Системе и/или при взаимодействии между Расчетным банком, Оператором, в результате которого Платеж, совершенный Пользователем с соблюдением положений настоящей Оферты, не был получен Предприятием, денежные средства возвращаются на источник оплаты, с которого Пользователь передал Распоряжение на оплату.
                        </p>
                        <p>                При наличии ситуации, когда возврат денежных средств на источник оплаты невозможен по техническим или иным причинам, возврат осуществляется на банковский расчетный счет, предоставленный Пользователем, либо на указанный Пользователем лицевой счет мобильного телефона.</p>
                        <p>                Для возврата денежных средств на банковский расчетный счет Пользователь должен направить заявление с обязательным заполнением всех реквизитов. Заполненное заявление, скрепленное подписью Пользователя, направляется в сканированном виде на электронный почтовый адрес: help@Zaymu-24.ru
                        </p>
                        <p>                Возврат денежных средств по заявлению Пользователя осуществляется в соответствии с разделом 9 настоящего соглашения - в течение 30 (Тридцати) рабочих дней с момента получения заявления Оператором.
                        </p>
                        <p>                6.10. Пользователь вправе отказаться от дальнейшего предоставления услуг Исполнителем, а также подписки на сервис, письменно уведомив в свободной форме на электронный адрес help@Zaymu-24.ru , указав ФИО и электронный адрес, номер телефона,  указанный при регистрации. Исполнитель в течении 5 (пяти) рабочих дней расторгает соглашение, а также удаляет данные пользователя из своей базы.Также, Пользователь может отказаться от услуг сервиса, обратившись через обратную связь, и услуга будет автоматически отключена при условии указания Пользователем данных, которые использовали при регистрации.При расторжении договора по соглашению сторон все обязательства сторон прекращаются с момента  соглашения сторон о расторжении соглашения (все услуги считаются оказанными в полном объеме, оплаты услуг с момента расторжения соглашения прекращаются).
                        </p>
                        <p>7. Персональные данные</p>
                        <p>                7.1. Размещая свои персональные данные на Сайте Пользователь тем самым подтверждает, что ознакомлен с Политикой в отношении обработки персональных сведений в fim2me.ru, которая указана на Сайте. Также Оператору автоматически предоставляется Согласие на выполнение обработки персональных данных для качественного исполнения рассматриваемого Соглашения.
                        </p>
                        <p>                7.2. Обработка персональных данных производится для реализации следующих целей: оказание Пользователю Услуг, предоставлении возможности в применении Сервиса, проведении рекламных кампаний, а также иных действий, которые указаны в Соглашении.
                        </p>
                        <p>                7.3. Обработка Персональных данных производится с момента Регистрации пользователя на Сайте и до момента пока не был осуществлён отзыв Пользователем Согласие на выполнение обработки персональных данных.
                        </p>
                        <p>                7.4. Пользователь выражает своё согласие, что Оператор будет распространять информацию на указанный Пользователем электронный ящик. Предоставляемые сведения о рекламных акциях и иные, не запрещённые к распространению в соответствии с законодательством Российской Федерации
                        </p>
                        <p>8. Ответственность сторон</p>
                        <p>                8.1. Если условия данного Соглашения не исполнены или исполнены ненадлежащим образом, то стороны несут ответственность, которая предусмотрена законодательством Российской Федерации
                        </p>
                        <p>                8.2. Оператор благодаря модерации может следить за корректностью, размещаемой Пользователем Информации. Но при этом Оператор не несёт ответственность за последствия, которые могут возникнуть из-за несоблюдения Пользователем требований, которые указаны в п. 4.1.3. – 4.1.6. данного Соглашения.
                        </p>
                        <p>                8.3. Пользователь согласен, что Сервис, предоставляемый Оператором, может быть объектом интеллектуальной собственности, права на которую защищены.
                        </p>
                        <p>                8.4. Касательно письменных материалов, то их распространение разрешено только в том случае, если будет предоставлена активная ссылка на Сайт.
                        </p>
                        <p>                8.5. Оператор не несёт ответственность, если Пользователь получил прямые и косвенные убытки в связи с применением или наоборот невозможностью использования Сайта, либо его Сервисов по отдельности. Также Оператор не несёт ответственности, если к Личному кабинету Пользователя был произведён несанкционированный доступ 3-их лиц.
                        </p>
                        <p>                8.6. Оператор не является ответственным лицом за действия или наоборот бездействия Кредиторов, которые выполняют предоставление займа, а также за любые сведения касательно предложений, предоставляемых Кредитором. Оператор не предоставляет гарантий одобрения Займа поскольку решение о предоставлении Займа принимают Кредиторы, а Оператор выполняет подбор о наиболее вероятных вариантах финансирования.
                        </p>
                        <p>                8.7. Оператор не является ответственным лицом за достижение каких-либо результатов, которые связаны с практическим использованием информации, предоставленной пользователю в Отчете.  Любая информация, которая была предоставлена Оператором, по предложениям Кредиторов применяется пользователем на свой риск.
                        </p>
                        <p>                8.8. Оператор не является ответственным лицом за то, что предоставленная услуга не соответствует пожеланиям Пользователя и/или за его субъективную оценку. Такое несоответствие ожиданиям и/или субъективная оценка не могут являться основаниями для того, чтобы считать, что услуги были оказаны ненадлежащего качества или в неполном объёме.
                        </p>
                        <p>                8.9. Любые убытки, которые Пользователь может понести в случае умышленного или неосторожного нарушения любого положения настоящего Соглашения, а также вследствие несанкционированного доступа к коммуникациям другого Пользователя, Оператором не возмещаются.
                        </p>
                        <p>                8.10. оператор не несет ответственности за:
                        </p>
                        <p>                -  Задержки или сбои в процессе совершения операции, возникшие вследствие непреодолимой силы, а также любого случая неполадок в телекоммуникационных, компьютерных, электрических и иных смежных системах.
                        </p>
                        <p>                -  Действия систем переводов, банков, платежных систем и за задержки, связанные с их работой.
                        </p>
                        <p>                - Надлежащее функционирование Сайта в случае, если Пользователь не имеет необходимых технических средств для его использования, а также не несет никаких обязательств по обеспечению пользователей такими средствами.
                        </p>
                        <p>                8.11. Положения настоящего Соглашения не являются исключающими или ограничивающими ответственность Оператора факторами за причинение убытков в той степени, в которой данная ответственность не может быть исключена или её действие не может быть ограничено законодательством Российской Федерации.</p>
                        <p>9. Нарушение условий соглашения</p>
                        <p>                9.1. Оператор вправе раскрыть любую собранную о Пользователе данного Сайта информацию, если раскрытие необходимо в связи с расследованием или жалобой в отношении неправомерного использования Сайта либо для установления (идентификации) Пользователя, который может нарушать или вмешиваться в права Администрации сайта или в права других Пользователей Сайта.
                        </p>
                        <p>                9.2. Оператор имеет право раскрыть любую информацию о Пользователе, которую посчитает необходимой для выполнения положений действующего законодательства или  судебных решений, обеспечения выполнения условий настоящего Соглашения, защиты прав или безопасности название организации, Пользователей.
                        </p>
                        <p>                9.3. Оператор имеет право раскрыть информацию о Пользователе, если действующее законодательство Российской Федерации требует или разрешает такое раскрытие.
                        </p>
                        <p>                9.4. Оператор вправе без предварительного уведомления Пользователя прекратить и (или) заблокировать доступ к Сайту, если Пользователь нарушил настоящее Соглашение или содержащиеся в иных документах условия пользования Сайтом, а также в случае прекращения действия Сайта либо по причине технической неполадки или проблемы.
                        </p>
                        <p>                9.5. Администрация сайта не несет ответственности перед Пользователем или третьими лицами за прекращение доступа к Сайту в случае нарушения Пользователем любого положения настоящего Соглашения или иного документа, содержащего условия пользования Сайтом.
                        </p>
                        <p>10. Порядок разрешения спорных моментов </p>
                        <p>                10.1. Возникающие споры и разногласия, которые возникли или могут возникнуть в будущем из настоящего Соглашения по инициативе со стороны Пользователя подлежат разрешению с соблюдением досудебного претензионного порядка. Если спорная ситуация не смогла быть разрешена в течение срока равного 60 рабочих дней с момента получения претензии Пользователя, то она передаётся Сторонами на рассмотрение судебных органов в порядке, который был предусмотрен законодательством Российской Федерации.
                        </p>
                        <p>                10.2. Для корректного понимания целей настоящего Соглашения под презентацией понимается обращение Пользователя, которое направлено Оператору, предметом которого является предъявление Пользователем требований гражданско-правового характера в связи с имеющим место, согласно мнению заявителя, неисполнением Оператором установленных обязательств перед данным Пользователем, возникших из настоящего Соглашения.
                        </p>
                        <p>                10.3. После того как от Пользователя было получено письменное Заявление(претензия) Оператор обязуется в срок тридцати календарных дней со срока получения Заявления(претензии) произвести его рассмотрение и предоставить информацию (ответ) о полученных результатах Пользователю;
                        </p>
                        <p>                10.4. На заявление/претензию Пользователя ответ поступает на указанный Пользователем при регистрации адрес электронной почты. Если в результате было принято решение, в котором решено произвести полное удовлетворение претензии, то Оператор может совершить данные действия без направления Заявителю сведений о том, что претензия была удовлетворена.
                        </p>
                        <p>                11. Сведения об изменении условий, а также о расторжении рассматриваемого соглашения
                        </p>
                        <p>                11.1. Вступление в силу изменений и дополнений к настоящему Соглашению производится после их публикаций на Сайте;
                        </p>
                        <p>                11.2. Пользователь осознаёт и соглашается с тем, что если он осуществляет свою деятельность после того, как были внесены изменения в настоящее Соглашение, то это автоматически будет расцениваться, как факт принятия Пользователем Соглашения в новой редакции;
                        </p>
                        <p>                11.3. Пользователь вправе осуществить отказ в любой промежуток времени от принятия произведённых изменений и дополнений Соглашения, производимых Оператором, что означает отказ Пользователя от использования Сайта или Сервиса.
                        </p>
                        <p>12. Заключительные условия </p>
                        <p> 12.1. По возникшим вопросам, а также существующим претензиям Пользователи могут обратиться по адресу help@Zaymu-24.ru </p>
                        <p>                12.2. Если были выявлены причины, по которым одна или несколько норм данного Соглашения недействительны или не обладающими юридической силы, то эти сведения не оказывают влияния на применимость остальных правил и норм, указанных в Соглашении.
                        </p>
                        <p>                12.3. К рассматриваемому соглашению действуют законы установленные на территории Российской Федерации. При расторжении договора по соглашению сторон все обязательства сторон прекращаются с момента  соглашения сторон о расторжении соглашения-договора.
                        </p>
                        <p>                12.4. Ничто в данном Соглашение не может восприниматься, как установление между Пользователем и Оператором агентских отношений, а также отношений товарищества, либо каких-либо иных отношений, которые прямо не предусмотрены Соглашением.
                        </p>
                        <p>12.5. Подтверждая условия данного Соглашения, Пользователь (или его Представитель) гарантирует Оператору что: </p>
                        <p>                12.5.1. Пользователь предоставляет только достоверную информацию, в том числе при осуществлении регистрации на Сайте.
                        </p>
                        <p>12.5.2. Пользователь: </p>
                        <p>Полностью ознакомился и принял условия рассматриваемого Соглашения; </p>
                        <p> Полностью осознаёт и понимает предмет настоящего Соглашения; </p>
                        <p>Полностью понимает свою ответственность за принятие решений в отношении заключения и исполнения настоящего Соглашения. </p>
                        <p>                12.6. Данное Соглашение вступает в силу с момента согласия Пользователя с требованиями и условиями рассматриваемого Соглашения в соответствии с п. 3.2. настоящего Соглашения. Соглашение действует в течение неопределённого срока. Приложение № 1 к данному Соглашению о предоставлении услуг и использованием Сервиса. Требования к информации:
                        </p>
                        <p> Параметры займа;</p>
                        <p>Займ выдаётся в валюте: Рубли; </p>
                        <p>  Рассматриваются следующие способы выдачи Займа: на карту</p>
                        <p> Место выдачи займа города Российской Федерации,  Гражданство - Российской Федерации.</p>
                        <p>Пользователь определяет параметры займа при помощи справочников Сервиса. Персональные данные пользователя: </p>
                        <p>Фамилия, имя, отчество; </p>
                        <p>Дата рождения; </p>
                        <p> Пол;</p>
                        <p>Адрес, по которому осуществлена регистрация: город, улица, дом, почтовый индекс; </p>
                        <p> Номер телефона (мобильный); </p>
                        <p>  Адрес электронной почты; </p>
                        <p>                 Предоставляя свои персональные данные, а также иные сведения на Сайте Пользователь полностью ознакомлен и согласен с политикой в отношении обработки персональных сведений в Zaymu-24.ru, которая размещена на Сайте. Также Пользователь предоставляет Оператору согласие на обработку персональных данных в целях, установленных исполнением Соглашения
                        </p>

                    </div>
                </div>





























            </div>
        </section>
    </main>
{% endblock %}
