{% extends 'base.html.twig' %}

{% block title %}Востановление пароля{% endblock %}

{% block body %}
    <main>
        <section class="credit">
            <div class="container">
                <h2 class="header--h2 wow slideInLeft">Востановление<span> пароля</span></h2>
                <div class="row row--space-between">
                    <div class="credit--form">
                        <form>
                            <div class="row row--space-between form--row" >
                                <input type="email" class="form--field" placeholder="email">

                            </div>

                            <div class="row  form--row">
                                <button type="submit" class="btn">Отправить</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>


        </section>
    </main>

{% endblock %}
