{% extends 'base.html.twig' %}

{% block title %}{{ 'succ-title'|trans }}{% endblock %}
{% block description %}{{ 'succ-title'|trans }}{% endblock %}

{% block body %}
    <main>


        <section class="contacts">
            <div class="container">
                <div class="header--block">

                    <h1 >{{ 'succ-title'|trans }}</h1>
                    <p >{{ 'succ-text'|trans }}</p>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block javascripts %}

{% endblock %}
