{% extends 'base.html.twig' %}

{% block title %}Спасибо за регистрацию!{% endblock %}
{% block description %}Спасибо за регистрацию!{% endblock %}

{% block body %}
    <main>


        <section class="contacts">
            <div class="container">
                <div class="header--block">

                    <h2 class="header--h2 wow slideInLeft">Спасибо за регистрацию!</h2>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript" src="{{asset('js/calc.js')}}"></script>
{% endblock %}
