{% extends 'base.html.twig' %}

{% block title %}{{ 'succ-title'|trans }}{% endblock %}
{% block description %}{{ 'succ-title'|trans }}{% endblock %}

{% block body %}
    <main>


        <section class="contacts">
            <div class="container">
                <div class="header--block">

                    <h2 class="h2">{{ 'succ-title'|trans }}</h2>
                    <h2  class="h2" >{{ 'succ-text'|trans }}</h2>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
{% block javascripts %}

{% endblock %}
